.item{
    padding: 20px;
    width: 45%;
    color: black;
    text-align: center;
    background-color: antiquewhite;
}

.item:hover{
    cursor: pointer;
}

.img{
    height: 5rem;
    background: black;
}